#login-container, #contact-container {
	input[type="checkbox"] {
	    vertical-align: top;
	}

	.foot {
		font-size: 0.8em;
		margin-top: 12px;
	}

	button[type="submit"] {
		cursor: pointer;
		background: $theme-red;
		color: white;
		font-family: inherit;
	}
}
