.bg-align-center {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-align-top {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.bg-align-right {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

.bg-align-left {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}