.bg-black {
	background-color: $black;
}

.bg-grey-darkest {
	background-color: $grey-darkest;
}

.bg-red-darkest {
	background-color: $red-darkest;
}

.bg-orange-darkest {
	background-color: $orange-darkest;
}

.bg-yellow-darkest {
	background-color: $yellow-darkest;
}

.bg-green-darkest {
	background-color: $green-darkest;
}

.bg-teal-darkest {
	background-color: $teal-darkest;
}

.bg-blue-darkest {
	background-color: $blue-darkest;
}

.bg-indigo-darkest {
	background-color: $indigo-darkest;
}

.bg-purple-darkest {
	background-color: $purple-darkest;
}

.bg-pink-darkest {
	background-color: $pink-darkest;
}

.bg-grey-darker {
	background-color: $grey-darker;
}

.bg-red-darker {
	background-color: $red-darker;
}

.bg-orange-darker {
	background-color: $orange-darker;
}

.bg-yellow-darker {
	background-color: $yellow-darker;
}

.bg-green-darker {
	background-color: $green-darker;
}

.bg-teal-darker {
	background-color: $teal-darker;
}

.bg-blue-darker {
	background-color: $blue-darker;
}

.bg-indigo-darker {
	background-color: $indigo-darker;
}

.bg-purple-darker {
	background-color: $purple-darker;
}

.bg-pink-darker {
	background-color: $pink-darker;
}

.bg-grey-dark {
	background-color: $grey-dark;
}

.bg-red-dark {
	background-color: $red-dark;
}

.bg-orange-dark {
	background-color: $orange-dark;
}

.bg-yellow-dark {
	background-color: $yellow-dark;
}

.bg-green-dark {
	background-color: $green-dark;
}

.bg-teal-dark {
	background-color: $teal-dark;
}

.bg-blue-dark {
	background-color: $blue-dark;
}

.bg-indigo-dark {
	background-color: $indigo-dark;
}

.bg-purple-dark {
	background-color: $purple-dark;
}

.bg-pink-dark {
	background-color: $pink-dark;
}

.bg-grey {
	background-color: $grey;
}

.bg-red {
	background-color: $red;
}

.bg-orange {
	background-color: $orange;
}

.bg-yellow {
	background-color: $yellow;
}

.bg-green {
	background-color: $green;
}

.bg-teal {
	background-color: $teal;
}

.bg-blue {
	background-color: $blue;
}

.bg-indigo {
	background-color: $indigo;
}

.bg-purple {
	background-color: $purple;
}

.bg-pink {
	background-color: $pink;
}

.bg-grey-light {
	background-color: $grey-light;
}

.bg-red-light {
	background-color: $red-light;
}

.bg-orange-light {
	background-color: $orange-light;
}

.bg-yellow-light {
	background-color: $yellow-light;
}

.bg-green-light {
	background-color: $green-light;
}

.bg-teal-light {
	background-color: $teal-light;
}

.bg-blue-light {
	background-color: $blue-light;
}

.bg-indigo-light {
	background-color: $indigo-light;
}

.bg-purple-light {
	background-color: $purple-light;
}

.bg-pink-light {
	background-color: $pink-light;
}

.bg-grey-lighter {
	background-color: $grey-lighter;
}

.bg-red-lighter {
	background-color: $red-lighter;
}

.bg-orange-lighter {
	background-color: $orange-lighter;
}

.bg-yellow-lighter {
	background-color: $yellow-lighter;
}

.bg-green-lighter {
	background-color: $green-lighter;
}

.bg-teal-lighter {
	background-color: $teal-lighter;
}

.bg-blue-lighter {
	background-color: $blue-lighter;
}

.bg-indigo-lighter {
	background-color: $indigo-lighter;
}

.bg-purple-lighter {
	background-color: $purple-lighter;
}

.bg-pink-lighter {
	background-color: $pink-lighter;
}

.bg-grey-lightest {
	background-color: $grey-lightest;
}

.bg-red-lightest {
	background-color: $red-lightest;
}

.bg-orange-lightest {
	background-color: $orange-lightest;
}

.bg-yellow-lightest {
	background-color: $yellow-lightest;
}

.bg-green-lightest {
	background-color: $green-lightest;
}

.bg-teal-lightest {
	background-color: $teal-lightest;
}

.bg-blue-lightest {
	background-color: $blue-lightest;
}

.bg-indigo-lightest {
	background-color: $indigo-lightest;
}

.bg-purple-lightest {
	background-color: $purple-lightest;
}

.bg-pink-lightest {
	background-color: $pink-lightest;
}
