body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	border-top: 2px solid $brand-warning;
}

#music-container, #contact-container, #code-container {
	margin-bottom: 79.4px;
	
	.row {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

h1 {
	font-weight: inherit;
	margin: 24px 24px 24px 0;
}

p {
	text-indent: 48px;
	margin: 0;
}

button, input, textarea {
	font-family: inherit;
}

.no-indent {
	text-indent: 0;
}

.form-title {
	text-indent: 0;
	margin-bottom: 18px;
	font-size: 0.9em;
	color: grey;
	text-align: center;
}

.form-control::-webkit-input-placeholder { color: lightgrey; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: grey; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: grey; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: grey; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: grey; }  /* Microsoft Edge */

.hidden {
	display: none;
}

.mb-6 {
    margin-bottom: 4rem!important;
}

.mb-7 {
    margin-bottom: 6rem!important;
}

.mb-8 {
    margin-bottom: 8rem!important;
}

.mb-10 {
	margin-bottom: 10rem!important;
}

.mt-8 {
	margin-top: 8rem!important;
}

.bw {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.6;
	transition: 0.4s;
}

.bw:hover, #nav a:hover .bw, .active img, .active-profile img {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0);
	opacity: 1;		
}