#nav, .nav {
	// a:not(.active-profile):hover, .active {
	// 	border-color: $brand-warning;
	// 	.fa {
	// 		color: $brand-warning;
	// 	}
	// }
	.fa {
		font-size: 2em;
		margin: 18px 24px;
		height: 30px;
		color: lightgrey;
		transition: 0.2s;
	}

	a:not(.profile):hover {
		border-color: $brand-warning;
		.fa:not(.fa-user) {
			color: $brand-warning;
		}
	}

 	.profile {
		border-color: $brand-info;
	}

	.fa-user {
		color: $brand-info;
	}

	.active{
		border-color: $brand-warning;
		.fa {
			color: $brand-warning;
		}
	}
}

#nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid lightgrey;
	z-index: 10;
	background: white;

	a {
		transition: 0.2s;
	    border-bottom: 4px solid transparent;
	}

	// .fa-user {
	// 	color: $brand-info;
	// }

	div {
		width: 100%;
	}
	
	.nav-icon {
		margin: 24px;
		height: 30px;
	}

}
