
// Body
$body-bg: #f5f8fa;
$theme-red: #e62739;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Gallery colors
$gal-green-l: rgba(0,180,127,0.9);
$gal-blue: rgba(22,94,140,0.9);
$gal-red: rgba(205,85,85,0.9);
$gal-violet: rgba(158,79,226,0.9);
$gal-green: rgba(0,166,81,0.9);

// Brands
$brand-primary: #3097D1;
$brand-info: #5bc0de;
$brand-success: #2ab27b;
$brand-warning: #f0ad4e;
$brand-danger: #dc3645;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
